* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.contenido {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 70vh;
}